<section class="section about-me-section" id="about-me">
  <div class="container about-me-container">
    <div class="abm-info-sec">
      <ul class="abm-info-sec-list">
        <li class="abm-info-sec-el">
          <div class="abm-title-container">
            <h3 class="abm-title">
              I work with people all over the world to create impressive and
              <span class="title-accent-red">functional</span>
              <span class="title-accent-gray">websites</span> that reflect each
              client's unique personality.
            </h3>
          </div>
        </li>
        <li class="abm-info-sec-el">
          <!-- <div class="abm-photo-cont"> -->
          <img
            class="abm-photo"
            srcset="/img/about-me/abm.jpeg 1x, /img/about-me/abm@2x.jpeg 2x"
            src="/img/about-me/abm.jpeg"
            alt="My photo"
            width="343"
            height="500"
          />
          <!-- </div> -->
        </li>
      </ul>
    </div>
    <!-- Accordion -->
    <div class="accordion-about-container">
      <div class="ac ac-about">
        <h2 class="ac-header ac-header-about">
          <button type="button" class="ac-btn ac-btn-about">
            About Me
            <button
              class="arrow-btn ac-trigger arrow-btn-about ac-trigger-about"
            >
              <svg class="arrow-acc arrow-acc-about" width="18" height="18">
                <use href="./img/icons.svg#arrow-down"></use>
              </svg>
            </button>
          </button>
        </h2>
        <div class="ac-panel ac-panel-about">
          <ul class="ac-panel-list ac-panel-list-about">
            <li class="ac-panel-el ac-panel-el-about">
              <p class="ac-text ac-text-about">
                I am Lloyd Jefferson, a talented programmer with extensive
                expertise in software development. I have an understanding of
                different programming languages and technologies, always ready
                to improve my skills. I always follow the latest trends and look
                for unconventional, creative solutions to problems. I have a
                high level of analytical skills and am able to effectively solve
                even the most difficult tasks encountered on the way.
              </p>
            </li>
            <li class="ac-panel-el ac-panel-el-about">
              <p class="ac-text ac-text-about">
                Able to work both independently and in a team. I can effectively
                cooperate with colleagues, exchanging ideas and finding optimal
                solutions. Professional maturity allows you to calmly cope with
                challenges and stressful situations, while maintaining a high
                quality of work.I am always looking for opportunities for
                self-improvement. I actively study new technologies and
                practices to stay abreast of the latest innovations. I have a
                strong understanding of various programming languages,
                frameworks and architectural concepts that allow me to create
                efficient and scalable software.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="ac ac-about">
        <h2 class="ac-header ac-header-about">
          <button type="button" class="ac-btn ac-btn-about">
            Role<button class="arrow-btn ac-trigger arrow-btn-about">
              <svg class="arrow-acc arrow-acc-about" width="18" height="18">
                <use href="./img/icons.svg#arrow-down"></use>
              </svg>
            </button>
          </button>
        </h2>
        <div class="ac-panel ac-panel-about">
          <ul class="ac-panel-list ac-panel-list-about">
            <li class="ac-panel-el ac-panel-el-about">
              <p class="ac-text ac-text-about">Frontend development</p>
            </li>
            <li class="ac-panel-el ac-panel-el-about">
              <p class="ac-text ac-text-about">HeadlessCMS,Wordpress</p>
            </li>
            <li class="ac-panel-el ac-panel-el-about">
              <p class="ac-text ac-text-about">Blender(enjoy)</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="ac ac-about">
        <h2 class="ac-header ac-header-about">
          <button type="button" class="ac-btn ac-btn-about">
            Education
            <button class="arrow-btn ac-trigger arrow-btn-about">
              <svg class="arrow-acc arrow-acc-about" width="18" height="18">
                <use href="./img/icons.svg#arrow-down"></use>
              </svg>
            </button>
          </button>
        </h2>
        <div class="ac-panel ac-panel-about">
          <ul class="ac-panel-list ac-panel-list-about">
            <li class="ac-panel-el ac-panel-el-about">
              <p class="ac-text ac-text-about">
                2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
                York
              </p>
            </li>
            <li class="ac-panel-el ac-panel-el-about">
              <p class="ac-text ac-text-about">
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                School, New York
              </p>
            </li>
            <li class="ac-panel-el ac-panel-el-about">
              <p class="ac-text ac-text-about">
                2020 - 2022 / Advanced Blender Animation Techniques, Udemy
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- swiper -->
    <div class="swiper-about">
      <ul class="swiper-wrapper-about">
        <li class="swiper-slide-about active-slide-about" data-type="page">
          <p class="swiper-text">HTML/CSS</p>
        </li>
        <li class="swiper-slide-about" data-type="page">
          <p class="swiper-text">JavaScript</p>
        </li>
        <li class="swiper-slide-about" data-type="page">
          <p class="swiper-text">React</p>
        </li>
        <li class="swiper-slide-about" data-type="page">
          <p class="swiper-text">Node. js</p>
        </li>
        <li class="swiper-slide-about" data-type="page">
          <p class="swiper-text">React Native</p>
        </li>
        <li class="swiper-slide-about" data-type="page">
          <p class="swiper-text">Soft skills</p>
        </li>
        <li class="swiper-button-next-about" data-type="next">
          <svg class="arrow-swiper-about" width="18" height="18">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
