<section class="about-me-section" id="about-me">
  <div class="container s-container swiper">
    <ul class="swiper-wrapper s-wrapper">
      <li class="swiper-slide s-slide s-active">
        <p class="swiper-text s-text">HTML/CSS</p>
      </li>
      <li class="swiper-slide s-slide">
        <p class="swiper-text s-text">JavaScript</p>
      </li>
      <li class="swiper-slide s-slide">
        <p class="swiper-text s-text">React</p>
      </li>
      <li class="swiper-slide s-slide">
        <p class="swiper-text s-text">Node. js</p>
      </li>
      <li class="swiper-slide s-slide">
        <p class="swiper-text s-text">React Native</p>
      </li>
      <li class="swiper-slide s-slide">
        <p class="swiper-text s-text">Soft skills</p>
      </li>
    </ul>
    <!-- <button type="button" class=".next-review-btn">next</button> -->
    <!-- <button type="button" class=".prev-review-btn">prev</button> -->
  </div>
</section>
