<section class="section-covers">
  <div class="container container-covers">
    <h2 class="titlle-covers">Covers</h2>
    <div class="content">
      <ul class="marquee">
        <li class="marquee__inner">
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="
                  ../img/covers/make-up.jpg    1x,
                  ../img/covers/make-up-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../img/covers/make-up.jpg    1x,
                  ../img/covers/make-up-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="../img/covers/make-up.jpg"
                alt="cover-make-up"
                width="282"
              />
            </picture>
          </a>
        </li>
        <li class="marquee__inner">
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="
                  ../img/covers/transforming-your-body.jpg 1x,
                  ../img/covers/transforming-your-body.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../img/covers/transforming-your-body.jpg 1x,
                  ../img/covers/transforming-your-body.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="../img/covers/transforming-your-body.jpg"
                alt="cover-transforming-your-body"
                width="282"
              />
            </picture>
          </a>
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="
                  ../img/covers/mimino.jpg    1x,
                  ../img/covers/mimino-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../img/covers/mimino.jpg    1x,
                  ../img/covers/mimino-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="../img/covers/mimino.jpg"
                alt="cover-mimino"
                width="282"
              />
            </picture>
          </a>
        </li>
        <li class="marquee__inner">
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="
                  ../img/covers/finances-masterfully.jpg    1x,
                  ../img/covers/finances-masterfully-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../img/covers/finances-masterfully.jpg    1x,
                  ../img/covers/finances-masterfully-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="../img/covers/finances-masterfully.jpg"
                alt="cover-finances-masterfully"
                width="282"
              />
            </picture>
          </a>
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="
                  ../img/covers/turn-your-bisiness.jpg    1x,
                  ../img/covers/turn-your-bisiness-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../img/covers/turn-your-bisiness.jpg    1x,
                  ../img/covers/turn-your-bisiness-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="../img/covers/turn-your-bisiness.jpg"
                alt="cover-turn-your-bisiness"
                width="282"
              />
            </picture>
          </a>
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="
                  ../img/covers/traditional-ukrainian-artistry.jpg    1x,
                  ../img/covers/traditional-ukrainian-artistry-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../img/covers/traditional-ukrainian-artistry.jpg    1x,
                  ../img/covers/traditional-ukrainian-artistry-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="../img/covers/traditional-ukrainian-artistry.jpg"
                alt="cover-traditional-ukrainian-artistry"
                width="282"
              />
            </picture>
          </a>
        </li>
        <li class="marquee__inner">
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="
                  ../img/covers/organic-vegetables.jpg    1x,
                  ../img/covers/organic-vegetables-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../img/covers/organic-vegetables.jpg    1x,
                  ../img/covers/organic-vegetables-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="../img/covers/organic-vegetables.jpg"
                alt="cover-organic-vegetables"
                width="282"
              />
            </picture>
          </a>
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="
                  ../img/covers/stay-healthy.jpg    1x,
                  ../img/covers/stay-healthy-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../img/covers/stay-healthy.jpg    1x,
                  ../img/covers/stay-healthy-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="../img/covers/stay-healthy.jpg"
                alt="cover-stay-healthy"
                width="282"
              />
            </picture>
          </a>
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="
                  ../img/covers/fresh-box.jpg    1x,
                  ../img/covers/fresh-box-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../img/covers/fresh-box.jpg    1x,
                  ../img/covers/fresh-box-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="../img/covers/fresh-box.jpg"
                alt="cover-fresh-box"
                width="282"
              />
            </picture>
          </a>
        </li>
        <li class="marquee__inner">
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="
                  ../img/covers/learning-english.jpg    1x,
                  ../img/covers/learning-english-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../img/covers/learning-english.jpg    1x,
                  ../img/covers/learning-english-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="../img/covers/learning-english.jpg"
                alt="cover-learning-english"
                width="282"
              />
            </picture>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
