<section class="section-covers">
  <div class="container-covers">
    <h2 class="titlle-covers">Covers</h2>
    <div class="content">
      <ul class="marquee">
        <li class="marquee__inner">
          <a href=""
            ><img
              class="marquee__line"
              src="../img/covers/cover-1.jpg"
              alt="cover-1"
          /></a>
        </li>
        <li class="marquee__inner">
          <img
            class="marquee__line"
            src="../img/covers/cover-2.jpg"
            alt="cover-2"
          />
          <img
            class="marquee__line"
            src="../img/covers/cover-3.jpg"
            alt="cover-3"
          />
        </li>
        <li class="marquee__inner">
          <img
            class="marquee__line"
            src="../img/covers/cover-4.jpg"
            alt="cover-4"
          />
          <img
            class="marquee__line"
            src="../img/covers/cover-5.jpg"
            alt="cover-5"
          />
          <img
            class="marquee__line"
            src="../img/covers/cover-6.jpg"
            alt="cover-6"
          />
        </li>
        <li class="marquee__inner">
          <img
            class="marquee__line"
            src="../img/covers/cover-7.jpg"
            alt="cover-7"
          />
          <img
            class="marquee__line"
            src="../img/covers/cover-8.jpg"
            alt="cover-8"
          />
          <img
            class="marquee__line"
            src="../img/covers/cover-9.jpg"
            alt="cover-9"
          />
        </li>
        <li class="marquee__inner">
          <img
            class="marquee__line"
            src="../img/covers/cover-10.jpg"
            alt="cover-10"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
