<section class="section-covers">
  <div class="container-covers">
    <h2 class="titlle-covers">Covers</h2>
    <div class="content">
      <ul class="marquee">
        <li class="marquee__inner">
          <a href=""
            ><img
              class="marquee__line"
              src="../img/covers/make-up.jpg"
              alt="cover-make-up"
          /></a>
        </li>
        <li class="marquee__inner">
          <a href=""
            ><img
              class="marquee__line"
              src="../img/covers/transforming-your-body.jpg"
              alt="cover-transforming-your-body"
          /></a>
          <a href=""
            ><img
              class="marquee__line"
              src="../img/covers/mimino.jpg"
              alt="cover-mimino"
          /></a>
        </li>
        <li class="marquee__inner">
          <a href=""
            ><img
              class="marquee__line"
              src="../img/covers/finances-masterfully.jpg"
              alt="cover-finances-masterfully"
          /></a>
          <a href=""
            ><img
              class="marquee__line"
              src="../img/covers/turn-your-bisiness.jpg"
              alt="cover-turn-your-bisiness"
          /></a>
          <a href=""
            ><img
              class="marquee__line"
              src="../img/covers/traditional-ukrainian-artistry.jpg"
              alt="cover-traditional-ukrainian-artistry"
          /></a>
        </li>
        <li class="marquee__inner">
          <a href=""
            ><img
              class="marquee__line"
              src="../img/covers/organic-vegetables.jpg"
              alt="cover-organic-vegetables"
          /></a>
          <a href=""
            ><img
              class="marquee__line"
              src="../img/covers/stay-healthy.jpg"
              alt="cover-stay-healthy"
          /></a>
          <a href=""
            ><img
              class="marquee__line"
              src="../img/covers/fresh-box.jpg"
              alt="cover-fresh-box"
          /></a>
        </li>
        <li class="marquee__inner">
          <a href=""
            ><img
              class="marquee__line"
              src="../img/covers/learning-english.jpg"
              alt="cover-learning-english"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</section>
