<footer class="section footer_section" id="footer">
  <div class="container footer_container">
    <a class="title_footer" href="#header">
      <img
        class="img_footer"
        src="./img/footer/foto_team_led.jpg"
        alt="foto_team_led"
      />
      <h2 class="title_footer">
        LET`S<span class="title_work">&nbsp;WORK</span>
      </h2>
    </a>
    <h2 class="title_footer">TOGETHER</h2>
    <form class="form_footer js_form_footer" autocomplete="off">
      <input
        class="input_footer"
        type="email"
        name="email"
        placeholder="clients@gmail.com"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
      />

      <textarea
        class="input_footer"
        name="message"
        placeholder="comments"
        rows="1"
      ></textarea>
  
      <button class="btn_footer" type="submit">Send</button>
    </form>
    <ul class="address_footer">
      <li class="link_footer">
        <a href="email:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
      </li>
      <li class="link_footer">
        <a href="tel:+38 11 1111 11 11">+38 11 1111 11 11</a>
      </li>
    </ul>
  </div>
  <div class="backdrop is-hidden" data-modal>
    <div class="modal"></div>
  </div>
</footer>
