<footer>
    <div class="container">
        <div class="section">
        <a class="title_footer" href="#heder">
            <img class="img_footer" src="../img/footer/foto_team_led.jpg" alt="foto_team_led">
            <h2 class="title_footer">LET`S </h2>
             <span class="title_work">&nbsp;WORK</span>
      
        </a>
             <h2 class="title_footer">TOGETHER</h2>
        <form class="form_footer" autocomplete="off">
  
           <input class="input_footer" type="email" name="email" placeholder="Email" />
  
  
             <textarea  class="input_footer" name="message" placeholder="comments" rows="1"></textarea>
  
            <button class="btn_footer" type="submit">Send</button>
        </form>
        <ul class="adress_footer">
          <li class="link_footer"><a  href="email:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></li>
         <li class="link_footer"><a   href="tel:+38 11 1111 11 11">+38 11 1111 11 11</a></li>
        </ul>
        </div>
    </div>
</footer>