<header class="header">
  <div class="container header-container">
    <!-- logo -->
    <div class="logo-container">
      <a href="./index.html" class="logo-link">
        <div class="logo-image">
          <img
            src="../img/header/logo.png"
            alt="Site Logo"
            width="80px"
            height="80px"
          />
        </div>
        <p class="logo-text">Jefferson*</p>
      </a>
    </div>
    <nav>
      <button class="menu-btn" hidden>Menu</button>
    </nav>
    <!-- order button (tablet and desktop) -->
    <button class="order-btn" hidden>
      <a href="#" class="order-btn-text">Order the project</a>
    </button>

    <!-- button burger (mobile) -->
    <button class="burger-btn" id="menu-open-button">
      <svg class="burger-btn-svg" height="16" width="32">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
