<section class="section hero">
  <div class="container hero-container">
    <h1 class="hero-text">
      Hello.
      <br />I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="hero-social">
      <li class="hero-soc-item">
        <a href="#">IG</a>
      </li>
      <li class="hero-soc-item">
        <a href="#">FB</a>
      </li>
      <li class="hero-soc-item">
        <a href="#">YT</a>
      </li>
      <li class="hero-soc-item">
        <a href="#">GH</a>
      </li>
      <li class="hero-soc-item hero-soc-item-email">
        <a href="email:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
      </li>
    </ul>
  </div>
</section>
