<section class="projects-section container" id="projects">
  <h2 class="projects–title">Projects</h2>
  <div class="swiper">
    <ul class="projects-list swiper-wrapper">
      <li class="projects-item swiper-slide">
        <div class="projects-info-wrapper">
          <div class="projects-skills">
            <div class="projects-skill">
              <p>#react</p>
            </div>
            <div class="projects-skill">
              <p>#js</p>
            </div>
            <div class="projects-skill">
              <p>#node js</p>
            </div>
            <div class="projects-skill">
              <p>#git</p>
            </div>
          </div>
          <h3>Programming Across Borders: Ideas, Technologies, Innovations</h3>
          <a
            class="projects-link"
            href="https://github.com/JohnRealy/project-group-12"
            target="_blank"
            >See project</a
          >
        </div>
        <div class="projects-img-wrapper">
          <picture>
            <source
              srcset="./img/projects/1-d.png 1x, ./img/projects/1-d@2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/projects/1.png 1x, ./img/projects/1@2x.png 2x"
              media="(max-width: 767px)"
            />
            <img
              class="projects-img"
              src="./img/projects/1.png"
              alt="Read journey project image"
            />
          </picture>
        </div>
      </li>
      <li class="projects-item hidden swiper-slide">
        <div class="projects-info-wrapper">
          <div class="projects-skills">
            <div class="projects-skill">
              <p>#react</p>
            </div>
            <div class="projects-skill">
              <p>#js</p>
            </div>
            <div class="projects-skill">
              <p>#node js</p>
            </div>
            <div class="projects-skill">
              <p>#git</p>
            </div>
          </div>
          <h3>Programming Across Borders: Ideas, Technologies, Innovations</h3>
          <a
            class="projects-link"
            href="https://github.com/JohnRealy/project-group-12"
            target="_blank"
            >See project</a
          >
        </div>
        <div class="projects-img-wrapper">
          <picture>
            <source
              srcset="./img/projects/2-d.png 1x, ./img/projects/2-d@2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/projects/2.png 1x, ./img/projects/2@2x.png 2x"
              media="(max-width: 767px)"
            />
            <img
              class="projects-img"
              src="./img/projects/2.png"
              alt="Petlove project image"
            />
          </picture>
        </div>
      </li>
      <li class="projects-item hidden swiper-slide">
        <div class="projects-info-wrapper">
          <div class="projects-skills">
            <div class="projects-skill">
              <p>#react</p>
            </div>
            <div class="projects-skill">
              <p>#js</p>
            </div>
            <div class="projects-skill">
              <p>#node js</p>
            </div>
            <div class="projects-skill">
              <p>#git</p>
            </div>
          </div>
          <h3>Programming Across Borders: Ideas, Technologies, Innovations</h3>
          <a
            class="projects-link"
            href="https://github.com/JohnRealy/project-group-12"
            target="_blank"
            >See project</a
          >
        </div>
        <div class="projects-img-wrapper">
          <picture>
            <source
              srcset="./img/projects/3-d.png 1x, ./img/projects/3-d@2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/projects/3.png 1x, ./img/projects/3@2x.png 2x"
              media="(max-width: 767px)"
            />
            <img
              class="projects-img"
              src="./img/projects/3.png"
              alt="VocabBuilder project image"
            />
          </picture>
        </div>
      </li>
    </ul>
    <div class="projects-btn-container">
      <button class="projects-prev-btn" type="button">
        <svg
          class="projects-arrow-left-icon"
          width="24"
          height="24"
          aria-label="arrow left"
        >
          <use href="./img/icons.svg#arrow-left"></use>
        </svg>
      </button>
      <button class="projects-next-btn" type="button">
        <svg
          class="projects-arrow-right-icon"
          width="24"
          height="24"
          aria-label="arrow right"
        >
          <use href="./img/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
