<section class="projects__section" id="projects">
    <div class="projects__box container">
        <h2 class="projects__title">Projects</h2>
        <ul class="projects__list">
            <li class="projects__item">
                <div class="projects__info-wrapper">
                    <div class="projects__skills">
                        <div class="projects__skill">
                            <p>#react</p>
                        </div>
                        <div class="projects__skill">
                            <p>#js</p>
                        </div>
                        <div class="projects__skill">
                            <p>#node js</p>
                        </div>
                        <div class="projects__skill">
                            <p>#git</p>
                        </div>
                    </div>
                    <h3>Programming Across Borders: Ideas, Technologies, Innovations</h3>
                    <a class="projects__link" href="https://github.com/JohnRealy/project-group-12" target="_blank">See project</a>
                    <div class="projects__img-wrapper">
                        <picture>
                            <source srcset="
                                      ./img/projects/read-journey-tab-desk.jpg 1x,
                                      ./img/projects/read-journey-tab-desk@2x.jpg 2x
                                    " media="(min-width: 768px)" />
                            <source srcset="
                                      ./img/projects/read-journey.jpg 1x,
                                      ./img/projects/read-journey@2x.jpg 2x
                                    " media="(max-width: 767px)" />
                            <img class="projects__img" src="./img/projects/read-journey.jpg" alt="Read journey project image" />
                        </picture>
                    </div>
                </div>
            </li> 
            <li class="projects__item hidden">
                <div class="projects__info-wrapper">
                    <div class="projects__skills">
                        <div class="projects__skill">
                            <p>#react</p>
                        </div>
                        <div class="projects__skill">
                            <p>#js</p>
                        </div>
                        <div class="projects__skill">
                            <p>#node js</p>
                        </div>
                        <div class="projects__skill">
                            <p>#git</p>
                        </div>
                    </div>
                    <h3>Programming Across Borders: Ideas, Technologies, Innovations</h3>
                    <a class="projects__link" href="https://github.com/JohnRealy/project-group-12" target="_blank">See project</a>
                    <div class="projects__img-wrapper">
                        <picture>
                            <source srcset="
                                      ./img/projects/petlove-tab-desk.jpg 1x,
                                      ./img/projects/petlove-tab-desk@2x.jpg 2x
                                    " media="(min-width: 768px)" />
                            <source srcset="
                                      ./img/projects/petlove.jpg 1x,
                                      ./img/projects/petlove@2x.jpg 2x
                                    " media="(max-width: 767px)" />
                            <img class="projects__img" src="./img/projects/petlove.jpg" alt="Petlove project image" />
                        </picture>
                    </div>
                </div>
            </li>
            <li class="projects__item visually-hidden">
                <div class="projects__info-wrapper">
                    <div class="projects__skills">
                        <div class="projects__skill">
                            <p>#react</p>
                        </div>
                        <div class="projects__skill">
                            <p>#js</p>
                        </div>
                        <div class="projects__skill">
                            <p>#node js</p>
                        </div>
                        <div class="projects__skill">
                            <p>#git</p>
                        </div>
                    </div>
                    <h3>Programming Across Borders: Ideas, Technologies, Innovations</h3>
                    <a class="projects__link" href="https://github.com/JohnRealy/project-group-12" target="_blank">See project</a>
                    <div class="projects__img-wrapper">
                        <picture>
                            <source srcset="
                                      ./img/projects/vocab-builder-tab-desk.jpg 1x,
                                      ./img/projects/vocab-builder-tab-desk@2x.jpg 2x
                                    " media="(min-width: 768px)" />
                            <source srcset="
                                      ./img/projects/vocab-builder.jpg 1x,
                                      ./img/projects/vocab-builder@2x.jpg 2x
                                    " media="(max-width: 767px)" />
                            <img class="projects__img" src="./img/projects/vocab-builder.jpg" alt="VocabBuilder project image" />
                        </picture>
                    </div>
                </div>
            </li>
        </ul>
        <div class="projects__btn-container">
            <button class="projects__prev-btn" type="button">
                <svg class="projects__arrow-left-icon" width="24" height="24" aria-label="arrow left">
                    <use href="./img/icons.svg#arrow-left"></use>
                </svg>
            </button>
            <button class="projects__next-btn" type="button">
                <svg class="projects__arrow-right-icon" width="24" height="24" aria-label="arrow right">
                    <use href="./img/icons.svg#arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>