<section class="reviews" id="reviews">
  <div class="reviews-wrapper container">
    <h2 class="reviews-title">reviews</h2>

    <div class="reviews-swiper swiper">
      <ul class="reviews-list swiper-wrapper"></ul>
    </div>
    <div class="buttons">
      <button class="reviews-prev-btn" type="button">
        <svg class="reviews-icon">
          <use href="./img/icons.svg#icon-arrow-left" />
        </svg>
      </button>
      <button class="reviews-next-btn" type="button">
        <svg class="reviews-icon">
          <use href="./img/icons.svg#icon-arrow-right" />
        </svg>
      </button>
    </div>
  </div>
</section>
