<section class="reviews container slide-container" id="reviews">
  <h2 class="reviews-title">Reviews</h2>
  <div class="swiper">
    <div class="swiper-wrapper">
      <!-- Картки відгуків будуть тут -->
      <ul class="reviews-list swiper-wrapper">
        <!-- <li class="reviews-item swiper-slide">
          <img
            class="reviews-item-img"
            src="../img/Featuredicon.jpeg"
            alt="Ihor Trachuk"
          />
          <h3 class="reviews-item-name">Natalia</h3>
          <p class="reviews-text">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations
          </p>
        </li> -->
      </ul>
    </div>

    <div class="buttons">
      <div class="swiper-button-next swiper-button-disabled">
        <button type="button" class="reviews-btn prevBtn">
          <svg class="reviews-icon">
            <use href="../img/icons.svg#arrow-left"></use>
          </svg>
        </button>
      </div>
      <div class="swiper-button-prev">
        <button type="button" class="reviews-btn nextBtn">
          <svg class="reviews-icon">
            <use href="../img/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
