<section class="reviews container slide-container" id="reviews">
  <h2 class="reviews-title">Reviews</h2>
  <div class="swiper">
    <ul class="reviews-list swiper-wrapper"></ul>
    <div class="buttons"></div>
    <div class="swiper-button-next swiper-button-disabled">
      <button type="button" class="reviews-btn prevBtn">
        <svg class="reviews-icon">
          <use href="../img/icons.svg#arrow-left"></use>
        </svg>
      </button>
    </div>
    <div class="swiper-button-prev">
      <button type="button" class="reviews-btn nextBtn">
        <svg class="reviews-icon">
          <use href="../img/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<section class="reviews container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- Картки відгуків будуть тут -->
        <ul class="reviews-list">
          <li class="reviews-item ">
        <img 
          class="reviews-item-img"
          src="../img/Featured icon.jpeg"
          alt="Ihor Trachuk"
          width="56"
        />
        <h3 class="reviews-item-name">Ihor Trachuk</h3>
        <p class="reviews-text">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
        </ul>
      </div>
      <!-- Додавання стрілок для перемикання слайдів -->
      <div class="swiper-button-next"  ></div>
      <div class="swiper-button-prev"></div>
    </div>
 </section>


