.swiper-about {
  background-color: #808080;
}
@media screen and (min-width: 320px) {
  .swiper-slide {
    width: 50%; /* Показати 2 карточки */
  }
}

/* Для ширини вьюпорта 768px */
@media screen and (min-width: 768px) {
  .swiper-slide {
    width: 33.333%; /* Показати 3 карточки */
  }
}

/* Для ширини вьюпорта 1440px і більше */
@media screen and (min-width: 1440px) {
  .swiper-slide {
    width: 16.666%; /* Показати всі 6 карточок */
  }
}
