/* Swiper */

.s-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 343px;
}

.s-wrapper {
  display: flex;
  margin-right: 30px;
  overflow: hidden;
  width: 260px;
}

.s-active {
  background-color: var(--accent);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.s-text {
  color: var(--text);
  font-family: sans-serif 'Inter Tight';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  width: 130px;
  display: flex;
  justify-content: center;
}
.s-slide {
  width: 130px;
  height: 130px;
  border: 1px solid var(--border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;
}
.s-button-next {
  border: none;
  background-color: transparent;
  width: 28px;
  height: 28px;
  margin: 0;
}

.a-swiper-about {
  width: 28px;
  height: 28px;
  stroke: #808080;
  fill: none;
}

@media screen and (max-width: 373.99px) {
  .s-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 305px;
  }

  .s-wrapper {
    display: flex;
    margin-right: 45px;
    overflow: hidden;
    width: 200px;
  }

  .s-slide {
    width: 100px;
    height: 100px;
  }
}

/* Swiper */
.swiper {
  width: 704px;
}

.swiper-wrapper {
  width: 600px;
  margin-right: 54px;
}

.swiper-slide {
  width: 200px;
  height: 200px;
}

.active {
}

.swiper-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  width: 200px;
}

.swiper-button-next {
  width: 40px;
  height: 40px;
}

.arrow-swiper-about {
  width: 40px;
  height: 40px;
}

/* Desktop */
@media screen and (min-width: 1159px) {
  .section {
  }
  .container {
  }
  .abm-photo-cont {
    width: 680px;
    height: 700px;
  }
  .abm-photo {
    width: 680px;
    height: 700px;
  }
  .abm-title-container {
    max-width: 680px;
    height: 700px;
    position: relative;
    border-radius: 24px;
    background: var(--cards);
    position: relative;
  }

  .abm-title {
    position: absolute;
    width: 552px;
    height: 240px;
    left: 64px;
    right: 64px;
    top: 64px;
    bottom: 396px;
  }

  .abm-info-sec {
    /* margin-bottom: 20px;
    display: flex;
      flex-direction: row;
      gap: 16px; */
  }

  .accordion-about-container {
    max-width: 704px;
  }

  .ac-text-about {
    max-width: 704px;
    color: var(--text);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
  }

  .abm-info-sec-list {
    /* display: flex;
flex-direction: row;
flex-wrap: wrap; */
  }

  .accordion-about-container {
    max-width: 1440px;
  }
  .ac-panel-el-about {
    display: flex;
    justify-content: end;
  }
  .ac-text-about {
    max-width: 612px;
    color: var(--text);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  .abm-info-sec {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
  }
  .abm-title-container {
    width: 680px;
  }
  .abm-info-sec-list {
    display: flex;
    gap: 16px;
  }
  .ac-about {
    width: 1376px;
  }
  .container {
    width: 1440px;
  }
  .ac-header-about {
    height: 72px;
  }

  /* swiper */
  .swiper {
    width: 1312px;
    height: 200px;
    margin-left: 32px;
  }

  .swiper-wrapper {
    width: 1200px;
    margin-right: 72px;
  }

  .swiper-slide {
    width: 200px;
    height: 200px;
  }

  .swiper-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    width: 200px;
  }

  .swiper-button-next {
    width: 40px;
    height: 40px;
  }

  .arrow-swiper-about {
    width: 40px;
    height: 40px;
  }
}
