.section-covers {
  padding-bottom: 32px;
  padding-top: 32px;

}

.container-covers {
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.titlle-covers {
  display: none;
}

.content {
  background-image: url(../img/covers/ellipse_min.png);

}

@media screen and (min-width: 768px) {
  .container-covers {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section-covers {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .container-covers {
    max-width: 1440px;
  }

  .section-covers {
    padding-top: 82px;
    padding-bottom: 82px;
  }
  .content {
  background-image: url(../img/covers/elements_vectors-min.png);
}
}




.marquee {
  overflow: hidden;
}

.marquee__inner {
  height: 100%;
  display: flex;
  transform: rotate(16deg);
}

.marquee__line {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3); 
  margin-bottom: 50px;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(150%);
  }
  
  to {
    transform: translateX(-100%);
  }
}
