/* ============== MOBILE STYLES ============== */
.faq-section-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--text);
  opacity: 0.4;
}

.faq-section-title::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: var(--text);
  opacity: 0.2;
  margin: 32px auto 0px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px;
  max-width: 343px;
  gap: 20px;
}

.faq-list-item::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: var(--text);
  opacity: 0.2;
  margin: 20px auto 0px;
}

.faq-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.faq-button {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background-color: var(--background);
}

.faq-button-svg {
  stroke: #fafafa;
}

.ac {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.ac-header {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--text);
  max-width: 265px;
}
.ac-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--text);
  opacity: 0.6;
}
/* ============== MOBILE STYLES ============== */
/* ============== TABLET STYLES ============== */
@media screen and (min-width: 768px) {
  .faq-list {
    padding: 32px 0px;
    max-width: 704px;
    gap: 32px;
  }

  .faq-list-item::after {
    margin: 24px auto 0px;
  }

  .faq-button {
    width: 40px;
    height: 40px;
  }

  .ac {
    gap: 26px;
  }
  .ac-header {
    max-width: 574px;
  }

  .ac-panel {
    max-width: 656px;
  }
}
/* ============== TABLET STYLES ============== */

/* ===============DESKTOP STYLES=============== */
@media screen and (min-width: 1440px) {
  .faq-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    /* align-items: stretch; */
    padding: 20px 0px;
    max-width: 1440px;

    gap: 20px;
  }

  .faq-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .faq-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: calc((100% - 64px) / 2);
  }
}

/* ===============DESKTOP STYLES=============== */
