/* -------------- / import fonts / --------------- */

@font-face {
  font-display: swap;
  font-family: 'Inter Tight';
  src: url('../fonts/inter-tight-v7-latin-500.woff2') format('woff2'),
    url('../fonts/inter-tight-v7-latin-500.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-display: swap;
  font-family: 'Inter Tight';
  src: url('../fonts/inter-tight-v7-latin-600.woff2') format('woff2'),
    url('../fonts/inter-tight-v7-latin-600.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
