.title_footer {
  font-size: 40px;
  display: flex;
  gap: 4px;
}

.title_work {
  color: var(--accent);
}

.form_footer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 62px;
  padding-bottom: 62px;
}
.input_footer {
  color: var(--text);
  padding-bottom: 20px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border);
  resize: none;
}

.btn_footer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background-color: var(--accent);
  margin-top: 12px;
  font-size: 16px;
  color: var(--text);
}
.btn_footer:hover,
.btn_footer:focus {
  background-color: var(--hover);
}

.address_footer {
  display: flex;
  gap: 4px;
}

.link_footer {
  padding: 10px 12px 10px 12px;
  font-size: 14px;
  border-radius: 60px;
  border: 1px solid var(--border);
}
.img_footer {
  width: 44px;
  height: 44px;
  border-radius: 12px;
}
/* ========================== */


.modal {
  width: 343px;
  height: 276px;
  top: 50%;
  left: 50%;
  padding: 64px 32px 64px 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: #0F0F1099;
;

  transition: opacity 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
    visibility: 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  background:var(--background);
  
    border: none;
     border: 1px solid var(--border);
  border-radius: 20px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms  cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaley(0);
}
.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  
  background-color: transparent;
  border: none;
  padding: 0;
  stroke: white;
  cursor: pointer;
  position: absolute;
  top: 25.5px;
  right: 25.5px;
 
}


.modal-title {
  width: 100%;
  font-size: 20px ;
  text-align: center;
  margin-bottom: 16px;
}
.modal-text {
  width: 100%;
  font-size: 16px;
}
/* ========================== */
@media screen and (max-width: 374px) {
  .link_footer {
    padding: 8px 10px 8px 10px;
    font-size: 12px;
  }

.modal {
 width: 300px;
 height: 200px;
  
  padding: 55px 24px 55px 24px;
}

.modal-title{
  font-size: 16px;
}
.modal-text {
  font-size: 14px;
}
}

@media screen and (min-width: 768px) {
  .img_footer {
    width: 70px;
    height: 70px;
    border-radius: 24px;
  }

  .title_footer {
    font-size: 64px;
  }

  .form_footer {
    flex-direction: row;
    gap: 32px;
    padding-top: 18px;
    padding-bottom: 18px;
    align-items: center;
  }

  .input_footer {
    width: 245px;
    line-height: 24px;
  }

  .btn_footer {
    width: 150px;
    height: 150px;
    margin-top: 0;
  }

  .link_footer {
    font-size: 16px;
    padding: 18px 32px 18px 32px;
  }

  .address_footer {
    gap: 8px;
  }
.modal {
 width: 492px;
 height: 246px;
  
  padding: 64px;
}

.modal-title{
  font-size: 20px;
}
.modal-text {
  font-size: 16px;
}

}

@media screen and (min-width: 1440px) {
  .footer_container {
    padding-left: 164px;
  }

  .input_footer {
    width: 390px;
  }

  .btn_footer {
    margin-left: 54px;
  }

  .link_footer {
    font-size: 16px;
    padding: 18px 32px 18px 32px;
  }
}
