.title_footer {
  font-size: 40px;
  display: flex;
  gap: 4px;
}

.title_work {
  color: var(--accent);
}

.form_footer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 62px;
  padding-bottom: 62px;
}
.input_footer {
  color: var(--text);
  height: 44px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border);
  resize: none;
}

.btn_footer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background-color: var(--accent);
  margin-top: 12px;
  font-size: 16px;
  color: var(--text);
}
.btn_footer:hover,
.btn_footer:focus {
  background-color: var(--hover);
}

.address_footer {
  display: flex;
  gap: 4px;
}

.link_footer {
  padding: 10px 12px 10px 12px;
  font-size: 14px;
  border-radius: 60px;
  border: 1px solid var(--border);
}
.img_footer {
  width: 44px;
  height: 44px;
  border-radius: 12px;
}
/* ========================== */
.modal {
    width: 392px;
    height: 586px;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
  }

<<<<<<< Updated upstream
@media screen and (max-width: 374px) {
  .link_footer {
=======
  .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: var(--colore-background-backdrop);

  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  background: var(--colore-background-modal);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms var(--transition-timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaley(0);
}
.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--colore-background-icon-close);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;

  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--colore-backgrond-icon-hf);
}
.modal-icon-close {
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-close-btn:hover .modal-icon-close,
.modal-close-btn:focus .modal-icon-close {
  fill: var(--color-buton-white);
}

.modal-title {
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}
/* ========================== */
@media screen and (max-width: 374px){
.link_footer {
>>>>>>> Stashed changes
    padding: 8px 10px 8px 10px;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .img_footer {
    width: 70px;
    height: 70px;
    border-radius: 24px;
  }

  .title_footer {
    font-size: 64px;
  }

  .form_footer {
    flex-direction: row;
    gap: 32px;
    padding-top: 18px;
    padding-bottom: 18px;
    align-items: center;
  }

  .input_footer {
    width: 245px;
    line-height: 24px;
  }

  .btn_footer {
    width: 150px;
    height: 150px;
    margin-top: 0;
  }

  .link_footer {
    font-size: 16px;
    padding: 18px 32px 18px 32px;
  }

  .address_footer {
    gap: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-left: 164px;
  }

  .input_footer {
    width: 390px;
  }

  .btn_footer {
    margin-left: 54px;
  }

  .link_footer {
    font-size: 16px;
    padding: 18px 32px 18px 32px;
  }
}
