.header {
  position: absolute;
  padding: 32px 0;
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* logo */

.logo-link {
  display: flex;
  gap: 8px;
  align-items: top;
}

.logo-text {
  color: var(--text);
  font-family: var(--font);
}

.burger-btn {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-btn-svg {
  justify-content: end;
  stroke: white;
}

/* ===================BREAKS======================= */

/* @media screen and (max-width: 374px) {
} */

@media screen and (min-width: 768px) {
  .logo-container {
    max-width: 1376px;
  }

  .menu-btn {
    display: flex;
    padding-top: 10px;
    background-color: transparent;
    border: none;
    color: var(--text);
    font-family: var(--font);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-align: center;
    text-decoration-line: underline;
  }

  .order-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    background: var(--accent);
    border-radius: 60px;
  }

  .order-btn-text {
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: var(--text);
    font-size: 16px;
    white-space: nowrap;
  }

  .burger-btn {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1376px;
  }
}

/* ===================mobile-menu======================== */

.mobile-menu {
  position: fixed;
  z-index: 100;
  background-color: var(--background);
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* transition-property: transform, opacity, visibility;
  transition-duration: .15s;
  transition-timing-function: ease-in-out;
  transform: translate(100%);
  opacity: 0%;
  visibility: hidden;
  pointer-events: none; */
}

.mobile-menu-top {
  padding: 32px 0;
}

.mobile-menu-close-btn {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
}

.icon-close {
  justify-content: end;
  stroke: white;
}

.mobile-menu-nav {
  
}

.mobile-menu-nav-list {
  text-decoration: underline;
    font-family: var(--font);
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}


.order-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;
  width: 163px;
  height: 55px;
  background: var(--accent);
  border-radius: 60px;
}

.order-btn-text {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: var(--text);
  font-size: 16px;
  white-space: nowrap;
}