.hero {}

.hero-container {
    max-width: 375px;

    padding-top: 281px;
    padding-bottom: 281px;
}

.hero-text {
    color: var(--text);
    font-family: var(--font);
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -3%;
    text-align: left;
    text-transform: uppercase;
}