.hero-container {
  background-image: url(../img/hero/hero-background.png);
  background-repeat: no-repeat;
  background-position: left;

  background-size: cover;
  padding-bottom: 32px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero-container {
    background-image: url(../img/hero/hero-background-2x.png);
  }
}

.hero-text {
  padding-top: 249px;
  padding-bottom: 212px;
  max-width: 343px;
  color: var(--text);
  font-family: var(--font);
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

.hero-social {
  display: flex;
  gap: 4px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-soc-item {
  width: 37px;
  height: 37px;
}

.hero-soc-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: var(--font);
  color: var(--text);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  border-radius: 60px;
  border: 1px solid var(--border);
}

.hero-soc-item-email {
  width: 178px;
  height: 37px;
}

.hero-soc-link.hero-soc-email {
  width: 178px;
}

@media screen and (min-width: 768px) {
  .hero-text {
    max-width: 642px;
    font-size: 90px;
  }

  .hero-social {
    justify-content: flex-end;
    gap: 10px;
    margin-right: 32px;
  }

  .hero-soc-item {
    width: 55px;
    height: 55px;
  }

  .hero-soc-link {
    width: 55px;
    height: 55px;
  }

  .hero-soc-link.hero-soc-email {
    width: 220px;
  }

  .hero-soc-item-email {
    width: 220px;
    height: 55px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-text {
    max-width: 1084px;
    margin-left: auto;
    margin-right: auto;
  }
}
