/* .hero {
}

.hero-container {
} */

.hero-text {
  padding-top: 249px;
  padding-bottom: 212px;
  max-width: 343px;
  color: var(--text);
  font-family: var(--font);
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

.hero-social {
  display: flex;
  gap: 4px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-soc-item {
  font-family: var(--font);
  color: var(--text);
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 60px;
  letter-spacing: -0.02em;
  border: 1px solid var(--border);
}

@media screen and (min-width: 374px) {
  .hero-soc-item {
    padding: 8px;
  }
}

@media screen and (min-width: 768px) {
  .hero-text {
    max-width: 642px;
    font-size: 90px;
  }

  .hero-social {
    justify-content: flex-end;
    gap: 10px;
    margin-right: 32px;
  }

  .hero-soc-item {
    font-size: 16px;
    padding: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-text {
    max-width: 1084px;
    margin-left: auto;
    margin-right: auto;
  }
}